@{
    ViewBag.Title = "asp.net articles";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";    
}

@section header {
    <a href="#" data-bind="click: refresh" class="ui-btn-right" data-role="button" data-icon="refresh" data-iconpos="notext" title="refresh">Refresh</a>    
}

<div class="content" data-role="content-primary">
    <ul data-bind="foreach: articles" data-role="listview" data-theme="c">
        <li>
            <a data-bind="attr: { href: urlForMobile, title: title }, click: $parent.onArticleClicked" >
                <!-- ko if: !cached -->
                <div class="avatar">
                    <img data-bind="attr: { src: imageUrl, alt: title }" >
                </div>
                <!-- /ko -->
                <h3 data-bind="text: title"></h3>
                <p data-bind="text: description"></p>
                <p class="ui-li-aside" data-bind="text: date"></p>
            </a>
        </li>
    </ul>

    <div class="more">
        <a href="#" data-bind="click: showMore">More ...</a>
    </div>

</div>


@section Scripts {
    <script type="text/javascript" src="~/Scripts/ga.js"></script>
    <script type="text/javascript" src="~/Scripts/App/Models/Article.js"></script>
    <script type="text/javascript" src="~/Scripts/App/ViewModels/ArticlesViewModel.js"></script>
    <script type="text/javascript" src="~/Scripts/App/ViewModels/ArticlesOfflineViewModel.js"></script>

    <script type="text/javascript">
        
        $(function () {
            if (window.applicationOnline) {
                ko.applyBindings(new ArticlesViewModel());
            } else {
                ko.applyBindings(new ArticlesOfflineViewModel());
            }
        });

    </script>
}
