@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";    
}

@section header {
    <a href="/app" data-role="button" data-inline="true" data-icon="arrow-l" data-iconpos="notext">Back</a>
    <a href="@ViewBag.Url" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-inline="true">Original</a>
    <a href="@ViewBag.TweetUrl" data-role="button">Tweet</a>
}

<div class="readable">@Html.Raw(ViewBag.Content)</div>

<script>

    $(function() {
        var url = '@ViewBag.Url';

        var cache = JSON.parse(localStorage.getItem('cache'));

        if (_.isUndefined(cache.content[url])) {
            cache.content[url] = $('.readable').html();
            localStorage.setItem('cache', JSON.stringify(cache));
        }
    });
        
</script>