@{
    ViewBag.Title = "Article";
}

@section header {
    <a href="#" data-role="button" data-mini="true" data-inline="true" data-icon="arrow-l" data-rel="back">Back</a>
    <a href="@ViewBag.Url" data-role="button" data-mini="true" data-inline="true">View original</a>
}

@{
    var content = Html.Raw(ViewBag.Content);
    var url = ViewBag.Url;
}

<div class="readable">@content</div>

<script>

    $(function() {
        var url = '@url';
        var content = $('.readable').html();

        var cache = JSON.parse(localStorage.getItem('readArticles'));
        if (cache == null) {
            cache = { };
        }

        cache[url] = content;

        localStorage.setItem('readArticles', JSON.stringify(cache));
    });
        
</script>