@{
    ViewBag.Title = "ASP.NET portal for Mobile";
}


<header class="row">
    <div class="twelve columns center">
        <h1>asp.net articles mobile web app</h1>
        <h4>More than usual RSS reader</h4>
    </div>
</header>

<section class="row ptl pbl">
    <div class="six columns">
        <div class="iphone center"></div>
    </div>
    <div class="six columns launch">
        <a href="app">Launch this app</a>
    </div>
</section>
        
<section class="row">
    <article class="four columns">
        <h4>More than usual RSS reader</h4>
        <p>
            <a href="/">aspnet.mobile</a> uses portal API that enables access to much broader content. It just not refers you to original article but uses <a href="https://github.com/marek-stoj/NReadability">Readability</a> library for
            best rendering of content inside application.
        </p>
    </article>
    <article class="eight columns">
        <h4>The best content from ASP.NET portal on device</h4>
        <p>
            <a href="http://asp.net">asp.net</a> portal is one of the best source of information for asp.net developers. 
            It's fully accessible from device now. Support of cache mode brings ability to access previosly read articles even in 
            limited connection conditions.
        </p>
    </article>
</section>
