@{
    ViewBag.Title = "ASP.NET portal for Mobile";
}


<header class="row">
    <div class="twelve columns center">
        <h1>asp.net articles mobile web app</h1>
        <h4>More than usual RSS reader</h4>
    </div>
</header>

<section class="row ptl pbl">
    <div class="six columns">
        <div class="iphone center"></div>
    </div>
    <div class="six columns launch">
        <a href="app">Launch this app</a>
    </div>
</section>
        
<section class="row">
    <article class="four columns">
        <h4>More than usual RSS reader</h4>
        <p>
            Text Text Text Text  
        </p>
    </article>
    <article class="eight columns">
        <h4>Theer</h4>
    </article>
</section>
