<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="~/Scripts/modernizr-2.0.6-development-only.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-1.6.4.js"></script>

        <link rel="stylesheet" type="text/css" href="~/Content/foundation.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/site.css" />


    </head>
    <body>
        <div class="container">
            @RenderBody()                        
            @RenderSection(name: "Scripts", required: false)
        </div>
    </body>
</html>
