@{
    ViewBag.Title = "ASP.NET Articles";
}

<div class="articles" data-bind="foreach: articles">
    <div class="article">
        <a data-bind="attr: { href: link, title: title }">
            <img class="avatar" data-bind="attr: { src: imageUrl, alt: title }" />
        </a>
        <a data-bind="attr: { href: linkForMobile, title: title }, text: title"></a>
        <p class="date" data-bind="text: date"></p>
        <p class="description" data-bind="text: description"></p>
    </div>
</div>

<div class="controls">
    <a href="#" data-bind="css: { disabled: currentPage() == 1 }, click: prevPageClicked">PREV</a>
    <a href="#" data-bind="click: nextPageClicked">NEXT</a>
</div>

@section Scripts {
    <script type="text/javascript" src="Scripts/App/Models/Article.js"></script>
    <script type="text/javascript" src="Scripts/App/ViewModels/ArticlesViewModel.js"></script>
}
